.prices__wrapper {
  position: relative;
  overflow: hidden;
}
.prices__container {
  max-width: 100vw;
  min-width: 320px;
  margin: 0 auto;
}
.prices__item-tech {
  position: relative;
  width: 240px;
  height: 200px;
  background-color: #ffffff;
  border: 2px solid #e9e9e9;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 16px;
  color: #1b1c21;
  font-size: 14px;
  font-style: bold;
  box-sizing: border-box;
  margin-top: 16px;
}
.prices__item-tech h4 {
  font-family: 'TTLakes Medium';
  color: #7e7e82;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 4px;
  opacity: 0.72;
}
.prices__item-tech span {
  font-family: 'TTLakes Regular';
  font-size: 14px;
  font-weight: 400;
}
.swiper__button-prices {
  position: absolute;
  bottom: -1px;
  right: 0px;
  list-style: none;
}
.swiper__button-prices button {
  position: absolute;
  bottom: 32px;
  right: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  vertical-align: bottom;
  width: 119px;
  height: 32px;
  background-color: #ff3e79;
  border-radius: 16px;
}
.swiper__button-prices span {
  color: #ffffff;
  font-weight: bold;
  font-style: bold;
  font-size: 12px;
}
.swiper__button-prices span::after {
  content: '';
  margin-left: 17px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}
.prices__head-table {
  display: none;
}
.prices__item-new {
  display: none;
}
.table {
  display: none;
}
.prices__info {
  margin-bottom: 50px;
  margin-left: 16px;
  text-decoration: none;
}
.prices__info a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  width: 189px;
  margin-top: 20px;
}
.prices__info p {
  color: #1b1c21;
  font-size: 14px;
  font-style: light;
  font-weight: 350;
}
.prices__info p:nth-child(2) {
  color: #1b1c21;
  font-size: 16px;
  font-style: medium;
  font-weight: 700;
}
.prices__info p:nth-child(2)::after {
  content: '';
  border: solid #ff3e79;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin-left: -81px;
}
@media (min-width: 768px) {
  .prices__head-table {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-top: 31px;
    padding: 0;
  }
  .prices__head-table li:nth-child(1) {
    width: 368px;
    margin-left: 26px;
  }

  .prices__head-table li:last-child {
    margin-right: 166px;
    visibility: hidden;
  }

  .prices__head-table li:last-child {
    margin-right: 166px;
    visibility: hidden;
  }
  .prices__head-table h3 {
    font-family: 'TTLakes Medium';
    color: #7e7e82;
    font-size: 14px;
    font-weight: 300;
    opacity: 0.72;
  }
  .prices__info p:nth-child(2)::after {
    margin-left: 0px;
  }
  .prices__info a {
    display: inline;
    width: 0px;
    margin-top: 20px;
  }

  .prices__item {
    display: none;
  }
  .prices__item-new {
    display: block;
  }
  .prices__high {
    width: calc(100% - 30px);
    height: 50px;
    display: block;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #eaeaea;
    margin-left: 8px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .prices__high li {
    display: inline-block;
    align-items: center;
    list-style: none;
  }
  .table {
    display: block;
  }
  .table {
    display: table;
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    empty-cells: show;
    background: #ffffff;
    border-radius: 6px;
  }
  .table-caption {
    display: table-caption;
    padding: 10px;
    color: #333;
    font-size: 16px;
    text-align: center;
  }

  .table-col {
    display: table-column;
  }
  .table-thead {
    display: table-header-group;
  }
  .table-tbody {
    display: table-row-group;
  }
  .table-tfoot {
    display: table-footer-group;
  }
  .table-tr {
    display: table-row;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }
  .table-th {
    display: table-cell;
    padding: 23px 0px 23px 16px;
  }
  .table-td {
    display: table-cell;
    padding: 10px;
  }
  .table-td button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    vertical-align: bottom;
    width: 119px;
    height: 32px;
    background-color: #ff3e79;
    border-radius: 16px;
    color: #fff;
    margin-top: 6px;
    font-weight: bold;
    font-style: bold;
    font-size: 12px;
  }
  .table-td button ::after {
    content: '';
    margin-left: 17px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
  }
  .table-th::after {
    background: url('../img/Rectangle.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 900px) {
  .prices__head-table li:nth-child(1) {
    width: 468px;
    margin-left: 20px;
  }
}
@media (min-width: 1120px) {
  .prices__head-table li:nth-child(1) {
    width: 468px;
    margin-left: 10px;
  }
  .prices__info {
    margin-top: 32px;
  }
}
